Watering_scheduler.json
{
  "name": "Watering scheduler",
  "nodes": [
    {
      "parameters": {
        "operation": "5DayForecast",
        "cityName": "gothenburg,se"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -2060,
        220
      ],
      "id": "3dd51219-2db4-403b-ae87-b9944283f4cb",
      "name": "Forecast next 5 days",
      "credentials": {
        "openWeatherMapApi": {
          "id": "qZ91I0R779H3dzxI",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "gothenburg,se"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -2280,
        220
      ],
      "id": "2f28b612-38bd-42d7-9ccd-01df8bcc11c6",
      "name": "Current Weather",
      "credentials": {
        "openWeatherMapApi": {
          "id": "qZ91I0R779H3dzxI",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const forecastList = $input.first().json.list || [];\nconst currentWeather = $('Current Weather').first().json;\n\nconst dayMap = {};\n\n// Step 0: Add current weather as today\nconst currentDate = new Date(currentWeather.dt * 1000).toISOString().split(\"T\")[0];\nconst currentIsRainy = currentWeather.weather?.[0]?.id < 700;\ndayMap[currentDate] = {\n  isDry: !currentIsRainy,\n};\nconsole.log(currentDate)\n\n// Step 1: Group 3-hour forecasts by date\nfor (const entry of forecastList) {\n  const dateTime = entry.dt_txt;\n  const date = dateTime.split(\" \")[0];\n\n  const weather = entry.weather?.[0];\n  const isRainy = weather && weather.id < 700;\n\n  // If the date is already in the map (e.g., current date), update only if needed\n  if (!dayMap[date]) {\n    dayMap[date] = { isDry: true };\n  }\n\n  if (isRainy) {\n    dayMap[date].isDry = false;\n  }\n}\n\n// Step 2: Convert to sorted array\nconst days = Object.entries(dayMap)\n  .map(([date, data]) => ({\n    date,\n    isDry: data.isDry,\n  }))\n  .sort((a, b) => a.date.localeCompare(b.date));\n\nreturn [{ json: { days } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1860,
        220
      ],
      "id": "b6886e70-4e65-4bef-a825-9b524b7a4120",
      "name": "Rainy Days"
    },
    {
      "parameters": {
        "jsCode": "const days = $input.first().json.days;\n\nlet wateringDay = null;\n\nfor (let i = 0; i < days.length - 1; i++) {\n  if (days[i].isDry && days[i + 1].isDry) {\n    wateringDay = days[i + 1].date;\n    break;\n  }\n}\n\nreturn [{ json: { wateringDay } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1640,
        220
      ],
      "id": "74acdab8-6125-402c-8157-58e9097d475f",
      "name": "Next Watering Day"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "66762ca4849559edaae97f6936c88f011597d1e224b0f21d2766e4bf9fdfc90e@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pupicci togethericci"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1420,
        220
      ],
      "id": "61d38894-cb16-4686-9bd0-5a0744c9b19f",
      "name": "Get All Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vd7Vo8KI0148SrnK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1200,
        220
      ],
      "id": "f53275ce-6ec2-4216-a1fd-7529b5cb6c45",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const events = $input.first().json[''] || [];\n\nlet existingEvent = null;\n\nfor (const event of events) {\n  if (event.summary === \"Water the plants\") {\n    existingEvent = event;\n    break;\n  }\n}\n\nreturn [{ json: { existingEvent } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        220
      ],
      "id": "61cb0d44-2da0-4803-bcba-1880fa62c8fb",
      "name": "Find existing watering event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c15c274-12fa-4346-922f-922210fa7ef5",
              "leftValue": "={{ $('Next Watering Day').item.json.wateringDay }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        220
      ],
      "id": "f971e3cf-9ec8-4740-bb0a-8ed961fcfe50",
      "name": "Candidate Watering Day Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35c279b3-e6b8-4db6-a3a7-e69a34a747b6",
              "leftValue": "={{ $json.existingEvent }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        380
      ],
      "id": "712eb284-fafe-47ef-b423-71bf1c4c57ca",
      "name": "Existing Event Exists"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "66762ca4849559edaae97f6936c88f011597d1e224b0f21d2766e4bf9fdfc90e@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pupicci togethericci"
        },
        "eventId": "={{ $json.existingEvent.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -240,
        380
      ],
      "id": "f91f5ab2-41e8-47be-9798-2659ea7ca40f",
      "name": "Remove Existing Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vd7Vo8KI0148SrnK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "66762ca4849559edaae97f6936c88f011597d1e224b0f21d2766e4bf9fdfc90e@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pupicci togethericci"
        },
        "start": "={{ $('Next Watering Day').item.json.wateringDay }}",
        "end": "={{ new Date(new Date($('Next Watering Day').item.json.wateringDay).setDate(new Date($('Next Watering Day').item.json.wateringDay).getDate() + 1)).toISOString().split(\"T\")[0] }}",
        "additionalFields": {
          "allday": "yes",
          "summary": "Water the plants"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5a8a9df6-9f3d-448d-bac9-cc2fc4f684e4",
      "name": "Create Watering Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vd7Vo8KI0148SrnK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "039bffa8-cce4-410f-ba9f-1836e2ff0798",
              "leftValue": "={{ $('Find existing watering event').item.json.existingEvent }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        100
      ],
      "id": "feeed55e-fcb6-4c11-99f8-c018b905f4b9",
      "name": "Event Does Not Exist"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "66762ca4849559edaae97f6936c88f011597d1e224b0f21d2766e4bf9fdfc90e@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pupicci togethericci"
        },
        "eventId": "={{ $json.existingEvent.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -220,
        180
      ],
      "id": "5ebde099-fbdb-44ca-abbd-5a4b980f7b2f",
      "name": "Remove Existing Event Wrong Date",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vd7Vo8KI0148SrnK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        580
      ],
      "id": "4ad90f30-9f67-4944-ba76-972235a821d4",
      "name": "All Good"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2520,
        220
      ],
      "id": "e7cb9334-96e1-4e34-b70f-dfd5c8ed164f",
      "name": "every 3 hours"
    }
  ],
  "pinData": {},
  "connections": {
    "Forecast next 5 days": {
      "main": [
        [
          {
            "node": "Rainy Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Weather": {
      "main": [
        [
          {
            "node": "Forecast next 5 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rainy Days": {
      "main": [
        [
          {
            "node": "Next Watering Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Watering Day": {
      "main": [
        [
          {
            "node": "Get All Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Events": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Find existing watering event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find existing watering event": {
      "main": [
        [
          {
            "node": "Candidate Watering Day Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Watering Day Exists": {
      "main": [
        [
          {
            "node": "Event Does Not Exist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Existing Event Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Event Exists": {
      "main": [
        [
          {
            "node": "Remove Existing Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Good",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Does Not Exist": {
      "main": [
        [
          {
            "node": "Create Watering Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Existing Event Wrong Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Existing Event Wrong Date": {
      "main": [
        [
          {
            "node": "Create Watering Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "every 3 hours": {
      "main": [
        [
          {
            "node": "Current Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a760a6ff-225f-4046-8019-a2852b624629",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71afbebe005cd24e589f468ffe2b07b40b64968cc391637a9151ab21065e348b"
  },
  "id": "V2E6tQl5IDGqwZyO",
  "tags": []
}